<%-include('partials/head')%>
<h1 class="heading-one">Bhedaghat</h1>
<h2>Discriptions</h2>
<p>It is a mesmerising experience to witness the marble rocks adjoining the graceful Narmada River in Bhedaghat, Jabalpur. These soaring white rocks, are known to magically change shapes as you sail along the river. Treat yourself with a boat ride on a moonlit night at the marble rocks when it shines like silver.  The boatman regales you with a witty description based on his imagination and explains about vicinity in the most creative way.

    The tranquil Narmada flows through high marble rocks and at a short distance, sited the remarkable spectacle of nature; Dhuandhar falls. The waterfall has been named so because of the smoky appearance of the water falling off the cliff with utmost force. The best time to visit the falls is during the monsoon when Dhuandhar lives up to its name and creates a mass of mist. The waterfall flows with such power that its roar is heard from a far distance. While these marvels of nature flaunt their beauty, the magnificent 10th-century Chaunsath Yogini Temple in the same town of Bhedaghat dedicated to the goddess Durga will take you back in time with its unmatched artistry.
    
    The picturesque sites of Bhedaghat town which include an incredible spectacle of nature and heritage will definitely put a smile on your face, bringing alive the true traveller in you. If these enchanting tourist attractions don't entice you to visit the Jabalpur district then what will!</p>
<h2>The marble artistry of Bhedaghat</h2>
<p>The quaint town of Bhedaghat in Jabalpur district is popular with tourists for its misty Dhuandhar fall and colossal marble rocks. Another thing that equally attracts the tourists from all over the world is the incredible craft of marble sculpting that this place has to offer. Marble and stone moulding is a full-fledged business here. The sculptors shape the astonishing white marble into intricate deities and other quirky sculptures. Stones found in the bed of Narmada provide occupation to many carvers and their families.



    One can easily get souvenirs from the rows of stalls selling carved artefacts such as the statues of Shiva and Ganesha including other exquisite decorative items. While walking along the shopping streets and ghats, one can witness carvers at work, busy making the masterpieces.
    
    
    
    If you are on a visit to Jabalpur, do not forget to visit the Bhadaghat's dhuandhar fall, marble rocks and shop marble handicrafts for your family and friends.
    
    </p>
    <h2>Hotels nearby</h2>
    <ul>
        <li>MP Turism Hotel Marblr rocks</li>
        <li>Capital O Hotel</li>
        <li>Hotel Rever view</li>
        <li>Sangam resort</li>


    </ul>
    <h2>Special places nearby</h2>
    <ul>



    </ul>
    <h2>Hospital nearby</h2>
    <ul>
        <li>Netaji Subhash Chandra Bose Medical College Jabalpur 
        </li>
        <li>Sai Clinic</li>


    </ul>
    <h2>Auto fair from Railway station </h2>
    <ul>

    </ul>
    <h2>Food</h2>
    <ul>
        <li> Hangouts</li>
    </ul>
    

   