<%-include('partials/head')%>

    <!-- <h1>first page of the website</h1> -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-one" src="images/sammmmm.jpg" class="d-block w-100" alt=".this is my photo..">
          </div>
          <div class="carousel-item">
            <img src="images/logo.webp" class="d-block w-100"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/iewek-gnos-" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- forst part -->
      <h1 class="heading-one">Welcome to Jabalpur</h1>
      <h2>Our featurs</h2>
      <ol>
        <li>top1</li>
        <li>tip2</li>
        <li>tip3</li>
        <li>tip5</li>
        <li>tip6</li>
      </ol>
      <h1>special places of jabalpur</h1>
      <div class="linking">
      <a href="/hotels"><div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div></a>
      <a href="/garden"><div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div></a>
      <a href="/hospitals"><div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div></a>
      <a href="/touristd"><div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div></a>

      </div>



      <!-- <img class="img-one" src="images/tv.jpg" > -->
</body>
</html>