<%-include('partials/head')%>
<h1 class="heading-one">Hotels of jabalpur</h1>
<div class="card mb-3 hotel-card">
    <img src="https://r1imghtlak.mmtcdn.com/53de1b3c5bbf11e69fa30022195573b9.jpg?&output-quality=75&downsize=910:612&crop=910:612;57,0&output-format=jpg" class="card-img-top2" alt="...">
    <div class="card-body">
      <h5 class="card-title">VIJAN MAHAL JABALPUR
      </h5>
      <p class="card-text">Enjoy a relaxing holiday amidst opulent settings at Vijay Mahal, Jabalpur.Pamper yourself with rejuvenating massages sessions at the on-site spa.
        Relish delicacies from across the world at the property's 
        </p>
      <p class="card-text"><small class="text-muted"><a href="https://www.makemytrip.com/hotels/vijan_mahal_jabalpur-details-jabalpur.html">click here to book the room</a></small></p>
    </div>
  </div>



  <div class="card mb-3 hotel-card-rr">
    <img src="https://r1imghtlak.mmtcdn.com/fbff14748fe911ec855e0a58a9feac02.jfif?&output-quality=75&downsize=910:612&output-format=jpg&downsize=821:550&crop=821:550" class="card-img-top2" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hotel Shawn Elizey

      </h5>
      <p class="card-text">Well-appointed rooms, a dining spot, an exclusive spa and a host of amenities await you for a delightful stay at this luxurious property.

        Treat yourself to luxury treatments and wellness therapies at the on-site spa.</p>
      <p class="card-text"><small class="text-muted"><a href="https://www.makemytrip.com/hotels/hotel-details/?hotelId=202012042001184974&_uCurrency=INR&checkin=date_2&checkout=date_3&city=CTJLR&cmp=SEM%7CD%7CDH%7CG%7CHname%7CDomestic_HName_RLSA_Exact_30%7C202012042001184974%7CRSA%7CLapser%7C&country=IN&gclid=Cj0KCQiAqOucBhDrARIsAPCQL1Y3kspAaS4ay9Lb4RxxMjin2ovFOcnoUpJF2LCcc2o0otIk7T7mKuQaAhdSEALw_wcB&lat=23.12858&lng=79.87024&locusId=CTJLR&locusType=city&rank=1&reference=hotel&roomStayQualifier=2e0e&searchText=Jabalpur&topHtlId=202012042001184974&type=city&mtkeys=defaultMtkey">click here to book the room</a></small></p>
    </div>
  </div>



  <div class="card mb-3 hotel-card">
    <img src="https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/201707120724483616-28ce4974446e11e784040a209fbd0127.jpg?&output-quality=75&downsize=910:612&crop=910:612;5,0&output-format=webp" class="card-img-top2" alt="...">
    <div class="card-body">
      <h5 class="card-title">Kokila Resort and Restaurant</h5>
      <p class="card-text">We are a dynamic lifestyle hospitality hotel that provides guests with the BEST in effortless living because we know its all about YOU! We design and service our hotels from a travelers point of view with smartly spaced interiors,</p>
      <p class="card-text"><small class="text-muted"><a href="https://www.makemytrip.com/hotels/hotel-details/?hotelId=201707120724483616&_uCurrency=INR&checkin=12172022&checkout=12182022&city=CTJLR&cmp=SEM%7CD%7CDH%7CG%7CHname%7CDomestic_HName_RLSA_Exact_30%7C202012042001184974%7CRSA%7CLapser%7C&country=IN&gclid=Cj0KCQiAqOucBhDrARIsAPCQL1Y3kspAaS4ay9Lb4RxxMjin2ovFOcnoUpJF2LCcc2o0otIk7T7mKuQaAhdSEALw_wcB&lat=23.13363&lng=79.87481&locusId=CTJLR&locusType=city&rank=1&reference=hotel&roomStayQualifier=2e0e&searchText=Jabalpur&topHtlId=201707120724483616&type=city&mtkeys=defaultMtkey">click here to book the room</a></small></p>
    </div>
  </div>



  <div class="card mb-3 hotel-card-rr">
    <img src="..." class="card-img-top2" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>



  <div class="card mb-3 hotel-card">
    <img src="https://r1imghtlak.mmtcdn.com/03003f145e7111ecb04a0a58a9feac02.jpg?&output-quality=75&downsize=910:612&crop=910:612;24,0&output-format=jpg " class="card-img-top2" alt="...">
    <div class="card-body">
      <h5 class="card-title">Royal Orbit</h5>
      <p class="card-text">Find your inner calm with a relaxing session at Royal Orbit's meditation room.
        Rent a bike, bicycle or car for your sightseeing.
        Have a meal at Royal Orbit's in-house restaurant.
        Spend your leisurely hours at the sun deck.</p>
      <p class="card-text"><small class="text-muted"><a href="https://www.makemytrip.com/hotels/hotel-details/?hotelId=202002201646561647&_uCurrency=INR&checkin=12172022&checkout=12182022&city=CTJLR&cmp=SEM%7CD%7CDH%7CG%7CHname%7CDomestic_HName_RLSA_Exact_30%7C202012042001184974%7CRSA%7CLapser%7C&country=IN&gclid=Cj0KCQiAqOucBhDrARIsAPCQL1Y3kspAaS4ay9Lb4RxxMjin2ovFOcnoUpJF2LCcc2o0otIk7T7mKuQaAhdSEALw_wcB&lat=23.10093&lng=79.89248&locusId=CTJLR&locusType=city&rank=1&reference=hotel&roomStayQualifier=2e0e&searchText=Jabalpur&topHtlId=202002201646561647&type=city&mtkeys=defaultMtkey">click here to book the room   </a></small></p>
    </div>
  </div>



  



  <!-- <div class="card mb-3 hotel-card">
    <img src="https://images.unsplash.com/photo-1670845837077-634938a20e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMnx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=60" class="card-img-top2" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> -->
</body>
</html>