<%-include('partials/head')%>
<h1 class="heading-one">Select the city</h1>
<div class="linking">
    <a href="/first"><div class="card" style="width: 18rem;">
      <!-- <img src="https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWxzfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..."> -->
      <div class="card-body">
        <p class="card-text"><h2>Jabalpur</h2></p>
      </div>
    </div></a>
    <a href=""><div class="card" style="width: 18rem;">
      <!-- <img src="https://images.unsplash.com/photo-1594886963422-935ac9a0b033?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGdhcmRlbnN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..."> -->
      <div class="card-body">
        <p class="card-text"><h2>Indore</h2></p>
      </div>
    </div></a>
    <a href=""><div class="card" style="width: 18rem;">
      <!-- <img src="https://images.unsplash.com/photo-1587351021355-a479a299d2f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8aG9zcGl0YWxzfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..."> -->
      <div class="card-body">
        <p class="card-text"><h2>Gwalior</h2></p>
      </div>
    </div></a>
    <a href=""><div class="card" style="width: 18rem;">
      <!-- <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..."> -->
      <div class="card-body">
        <p class="card-text"><h2>Bhopal</h2></p>
      </div>
    </div></a>
    <a href=""><div class="card" style="width: 18rem;">
        <!-- <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <p class="card-text"><h2>Ujjain</h2></p>
        </div>
      </div></a>


      <!--  -->
      </div>

      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/slid1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="images/slid2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="images/slid3.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="images/slid4.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="images/slid5.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="images/slid6.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="images/slid7.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="images/slid8.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

    
</body>
</html>
